.navbar {
  display: flex;
  align-items: center;
  background-color: #f7f2ed;
  color: #242424;
  position: sticky;
  top: 0;
  z-index: 999;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      margin-left: 20px;
      font-size: 32px;
      font-weight: bold;
      color: #00918a;
      cursor: pointer;
    }
    .links {
      font-size: 16px;
      margin-right: 20px;
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
      .link {
        &:hover {
          color: #03ccba;
        }
      }
    }
    .auth {
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 600;
      margin-right: 20px;
      button {
        background-color: #ebded5;
        width: 110px;
        height: 48px;
        padding: 10px;
        font-weight: 600;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #d1bdab;
          color: white;
        }
      }
      .login {
        background-color: #f7f2ed;
        button {
          @extend button;
        }
      }
      .register {
        button {
          @extend button;
          background-color: #03ccba;
          &:hover {
            background-color: #00918a;
          }
        }
        .type {
          position: absolute;
          top: 80px;
          right: 15px;
          padding: 10px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 95px;
          font-weight: 600;
          color: gray;
          .link {
            cursor: pointer;
            background-color: white;
            font-weight: 500;
            &:hover {
              color: #00918a;
            }
          }
        }
      }
    }
    .user {
      height: 48px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      gap: 10px;
      position: relative;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
      }
      .cbBox {
        display: flex;
        flex-direction: column;
      }
      i {
        color: #00918a;
      }
      span {
        font-weight: 600;
      }
      .options {
        position: absolute;
        top: 60px;
        left: 0px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        z-index: 999;
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 150px;
        font-weight: 300;
        color: gray;
        .link {
          font-weight: 500;
          background-color: white;
          &:hover {
            color: #00918a;
          }
        }
      }
    }
  }
}
